{% extends 'master.html' %}
{% load static %}
{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Membership</h2>
                    <ol>
                        <li><a href="{% url 'home-url' %}">Home</a></li>
                        <li>Logout</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <p>You've logged out!!! <a href="{% url 'login-url' %}">Login again</a></p>
            </div>
        </section>

    </main><!-- End #main -->
{% endblock %}

